[submodule "pos_modules"]
	path = pos_modules
	url = git@gitlab.com:aselcis-addons/pos/pos_modules.git
	branch = 12.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 12.0
